<configuration>
    <configSections>
        <section name="adapterManager" type="Microsoft.Office.Server.Directory.AdapterManagerSection, Microsoft.Office.Server.Directory, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" />
    </configSections>
    <adapterManager local="{05A4FA99-31B4-4868-B71E-7695E7388AC7}" principal="{7453069c-194c-4325-af77-963bc8828c4a}">
        <adapters>
            <clear />
            <add type="Microsoft.Office.Server.Directory.Adapter.AzureActiveDirectoryAdapter, Microsoft.Office.Server.Directory, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" graphBaseURL="https://graph.msol-test.com" />
            <add type="Microsoft.Exchange.FederatedDirectory.ExchangeDirectoryAdaptor, Microsoft.Exchange.Services, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
            <add type="Microsoft.Office.Server.Directory.Adapter.RemoteSharePointAdapter, Microsoft.Office.Server.Directory, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" siteDomainSubstring="spgrid.com" />
        </adapters>
    </adapterManager>
</configuration>
